<app-navegacion></app-navegacion>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-menu></app-menu>

<div class="container mt-4">
  <h2 class="text-center">Menú de Platos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre del Plato</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plato of platos">
        <td>{{ plato.idMeal }}</td>
        <td>{{ plato.strMeal }}</td>
        <td><img [src]="plato.strMealThumb" class="img-thumbnail" alt="{{ plato.strMeal }}" style="width: 100px;"></td>
      </tr>
    </tbody>
  </table>
</div>

<app-carta></app-carta>

<br>
<app-footer></app-footer>